<h1>Private CA Cert Test</h1>

<a href="/assets/cert/45.76.137.199.crt">Download Certifcate</a>
<br/>
<br/>
<a href="/assets/cert/45.76.137.199.key">Download Key</a>
<br/>
<br/>
<a href="/assets/cert/android.pfx">Download Android compatable Cert/Key PFX</a>