<h1>Private CA Cert Test</h1>

<!--
<a href="/assets/cert/test.crt">Download Certifcate</a>
<br/>
<br/>
<a href="/assets/cert/test.key">Download Key</a>
<br/>
<br/>
<a href="/assets/cert/android.pfx">Download Android compatable Cert/Key PFX</a>
<br/>
<br/>
<a href="/assets/cert/android_root.pfx">Download Android compatable Root CA PFX</a>
-->